


.section-title{
    font-family: sans-serif;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align:left ;
    font-style: italic;
}

.section-title2{
    font-family: sans-serif;
    font-size: 30px;
    text-align:left ;
    font-style: italic;
    margin-left: 15px;
    padding-top: 50px;

}

.even-columns,.even-columns2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 10px;

}

.image-border {
    border: 5px solid;
    padding:  5px;
    border-image-source: linear-gradient(90deg,rgb(63, 230, 41) 50%,rgb(155, 201, 31) ) ;
    border-image-slice: 1 ;
    
}

.image-border-1{
    border: 10px solid;
    padding:  10px;
    border-image-source: linear-gradient(90deg,rgb(63, 230, 41) 50%,rgb(155, 201, 31) ) ;
    border-image-slice: 1 ;
    
}
.image-border-2{
   border-block-start: 3px solid;
   border-image-source: linear-gradient(90deg,rgb(63, 230, 41) 50%,rgb(155, 201, 31) );
   border-image-slice: 1;
   padding:  5px;

    
}

.image-border-3{
    border-inline-start: 8px solid;
    border-block-start: 8px solid;
    padding-block-start: 8px solid;
    border-image-source: radial-gradient( circle at top left, limegreen, transparent 50%);
    border-image-slice: 1;
    padding: 10px;
     
 }

 .footer-div1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    padding-top: 200px;
    text-align: center;
 }